{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    {{ encore_entry_link_tags("login")}}
{% endblock %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="container py-5 content">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
    
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <div class="form-group">
            <label for="inputUsername" class="sr-only">Username</label>
            <input 
                type="text" 
                value="{{ last_username }}" 
                name="username" 
                id="inputUsername" 
                class="form-control" 
                placeholder="Username" 
                required 
                autofocus
            >
        </div>
        <div class="form-group">
            <label for="inputPassword" class="sr-only">Password</label>
            <input 
                type="password" 
                name="password" 
                id="inputPassword" 
                class="form-control" 
                placeholder="Password" 
                required
            >
        </div>
    
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
    
        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html
    
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}
    
        <button class="btn btn-lg btn-success" type="submit">
            Sign in
        </button>
    </form>
</div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {{ encore_entry_script_tags("login") }}
{% endblock javascripts %}