{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    {{ encore_entry_link_tags("about")}}
{% endblock %}

{% block body %}
    <div class="container content">
        <h1 class="mb-3">
            About {{ pageContent.header }}
        </h1>
        <hr />

        <p>
            {{ pageContent.body }}
        </p>

        <div class="row">

        </div>

    </div>

{% endblock body %}

{% block javascripts %}
    {{parent()}}
    {{ encore_entry_script_tags("about") }}
{% endblock javascripts %}