{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="mt-4 mb-3">
            Registration
            <small>Request your spot today!</small>
        </h1>
        <hr />
        <div class="row">
            <div class="col-md-8 mb-4">
                <p>To pay by credit card, please fill out the form below.</p>
                {% if event.allowCheck and event.applicationFilepath is not null %}
                <p>
                     If you are unable to pay by credit card, please <a href="{{ asset(event.applicationFilepath) }}">click here</a> for the paper application.
                </p>
                {% endif %}
                <br />
                <form name="sentMessage" id="contactForm" method="post" action="{{ path('payment') }}">
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Name:</label>
                            <input type="text" class="form-control" id="name" name="name" required data-validation-required-message="Please enter your name.">
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Business Name:</label>
                            <input type="text" class="form-control" id="businessName" name="businessName" data-validation-required-message="Please enter your company name.">
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <label>Are you a direct seller?:</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="directSeller" id="directSellerYes" value="1">
                            <label class="form-check-label" for="directSellerYes">Yes</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="directSeller" id="directSellerNo" value="0" checked>
                            <label class="form-check-label" for="directSellerNo">No</label>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Phone Number:</label>
                            <input type="tel" class="form-control" id="phone" name="phone" required data-validation-required-message="Please enter your phone number.">
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" name="email" required data-validation-required-message="Please enter your email address.">
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label for="address">Address:</label>
                            <input type="text" class="form-control" id="address" name="address" required data-validation-required-message="Please enter your address.">
                        </div>
                    </div>


                    <div class="control-group form-group">
                        <div class="controls">
                            <label for="city">City:</label>
                            <input type="text" class="form-control" id="city" name="city" required data-validation-required-message="Please enter your email address.">
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label for="state">State:</label>
                            <select name="state" id="state">
                                {% for stateName, stateCode in states %}
                                    <option value="{{ stateCode }}">{{ stateName }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label for="zip">Zip:</label>
                            <input type="text" class="form-control" id="zip" name="zip" required data-validation-required-message="Please enter your email address.">
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <label>Do you need one of our tables:</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="tableNeeded" id="tableYes" value="1">
                            <label class="form-check-label" for="tableYes">Yes</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="tableNeeded" id="tableNo" value="0" checked>
                            <label class="form-check-label" for="tableNo">No</label>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <label>Do you need Electricity:</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="electricity" id="electricityYes" value="1">
                            <label class="form-check-label" for="electricityYes">Yes</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="electricity" id="electricityNo" value="0" checked>
                            <label class="form-check-label" for="electricityNo">No</label>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label for="items">Detailed Description of Items Sold (include method and material):</label>
                            <textarea class="form-control" id="items" name="items" rows="3" required></textarea>
                        </div>
                    </div>


                    <div class="control-group form-group">
                        <div class="form-group">
                            <select class="form-control" id="tableSelect" name="table">
                                <option value="null" disabled selected>Select a booth location</option>
                                {% for table in event.tables %}
                                    <option value="{{ table.id }}">{{ table.description }} - ${{ table.value }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="quantity">Quantity: </label>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                {% set admin = true %}
                            {% else %}
                                {% set admin = false %}
                            {% endif %}
                            <select data-admin="{{admin}}" class="form-control" id="quantitySelect" name="quantity">
                                <option value="null" disabled selected>Select a location</option>
                            </select>
                        </div>
                    </div>
                    <div id="success"></div>
                    <button type="submit" class="btn btn-success" id="sendMessageButton" disabled>Continue to Payment!</button>
                </form>
            </div>
            <div class="col-md-4">
                <div>
                    <h3>Keep in Touch</h3>
                    <p>Sign up for our mailing list - no spam, we promise.</p>
                    <div class="control-group form-group">
                        <input type="text" class="form-control" placeholder="Email" />
                    </div>
                    <div class="control-group form-group">
                        <input type="submit" class="btn btn-success" id="joinButton" value="Join" />
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Contact Details</h3>
                    <p>
                        {{ globals.address1 }}
                        {% if globals.address2 is not null %}
                            <br>{{ globals.address2 }}
                        {% endif %}
                        <br>{{ globals.city }}, {{ globals.state }} {{ globals.zip }}
                        <br>
                    </p>
                    <p>
                        <span title="Phone">Phone</span>: {{ globals.phone }}<br />
                    </p>
                </div>

            </div>
        </div>
    </div>

{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var event = {{ eventJson|raw }};
    </script>
        {{ encore_entry_script_tags("booking") }}
{% endblock javascripts %}
