{% extends 'base.html.twig' %}

{% block body %}
    <div class="container py-5">
        <h1 class="mb-3">
            Contact
            <small>{{ pageContent.header }}</small>
        </h1>
        <hr />
        <div class="row">
            <div class="col-md-8 mb-4">
                <p>{{ pageContent.subheader }}</p>
                <br />
                <form name="sentMessage" id="contactForm" method="post" action="{{ path('contactPost') }}">
                    <div class="control-group form-group">
                        <div class="controls">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" name="name" id="name" required data-validation-required-message="Please enter your name.">
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label for="phone">Phone Number:</label>
                            <input type="tel" class="form-control" name="phone" id="phone" required data-validation-required-message="Please enter your phone number.">
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" name="email" id="email" required data-validation-required-message="Please enter your email address.">
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label for="message">Message:</label>
                            <textarea rows="10" cols="100" class="form-control" name="message" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
                        </div>
                    </div>
                    <div id="success"></div>
                    <button type="submit" class="btn btn-success" id="sendMessageButton">Send Message!</button>
                </form>
            </div>
            <div class="col-md-4">
                <div>
                    <h3>Keep in Touch</h3>
                    <p>Sign up for our mailing list - no spam, we promise.</p>
                    <div class="control-group form-group">
                        <input type="text" class="form-control" placeholder="Email" />
                    </div>
                    <div class="control-group form-group">
                        <input type="submit" class="btn btn-success" value="Join" />
                    </div>
                </div>
                <hr />
                <div>
                    <h3>Contact Details</h3>
                    <p>
                        {{ globals.address1 }}
                        {% if globals.address2 is not null %}
                        <br>{{ globals.address2 }}
                        {% endif %}
                        <br>{{ globals.city }}, {{ globals.state }} {{ globals.zip }}
                        <br>
                    </p>
                    <p>
                        <span title="Phone">Phone</span>: {{ globals.phone }}<br />
                    </p>
                </div>

            </div>
        </div>
    </div>
{% endblock body %}
