{% extends 'base.html.twig' %}

{% block body %}
    <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for banner in bannerImages %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index }}" {% if loop.index == 1 %}class="active" {% endif %}></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner" role="listbox">
                {% for image in bannerImages %}
                <div class="carousel-item {% if loop.index == 1 %} active {% endif %}" style="background-image: url('{{ asset( image.image ) }}')">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>{{ image.header }}</h3>
                        <p>{{ image.subheader }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>
    <div class="container py-5">
        <h1 class="mb-4">Book your booth!</h1>
        <div class="row">

            {% for event in events %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-image" style="background-image: url('{{ asset( event.image ) }}')">
                        </div>
                        <div class="card-body">
                            <h2 class="card-title">{{ event.name }}</h2>
                            <p class="card-text">{{ event.description }}</p>
                            <a href="{{ path('booking', { 'id': event.id }) }}" class="btn btn-success">Book Now!</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-image" style="background-image: url('{{ asset(card.image) }}')">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">{{card.header}}</h2>
                        <p class="card-text">{{ card.body }}</p>
                        <a href="{{ path('about') }}" class="btn btn-success">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
