{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags("manageBookings") }}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>Manage
                            <b>Bookings</b>
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <select class="form-control" id="eventSelect">
                            <option value="null">Select an Event</option>
                            <option value="null">All Events</option>
                            {% for event in allEvents %}
                                <option value="{{ event.id }}">{{ event.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <a href="#addBookingModal" class="btn btn-success" data-toggle="modal">
                            <i class="material-icons fa fa-plus"></i>
                            <span>Add New Booking</span>
                        </a>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Event</th>
                    <th>Status</th>
                    <th>Order Date</th>
                    <th>Name</th>
                    <th>Business Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip</th>
                    <th>Direct Seller</th>
                    <th>Needs Table</th>
                    <th>Needs Electric</th>
                    <th>Items for Sale</th>
                    <th>Table Section</th>
                    <th>Table Numbers</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>

                {% for index, reservation in reservations %}
                    <tr>
                        <td>{{ reservation.event.name }}</td>
                        <td><input type="checkbox" {% if reservation.status == 1 %}checked {% endif %} disabled></td>
                        <td>{{ reservation.orderDatetime|date('Y-m-d') }}</td>
                        <td>{{ reservation.name }}</td>
                        <td>{{ reservation.businessName }}</td>
                        <td>{{ reservation.email }}</td>
                        <td>{{ reservation.address }}</td>
                        <td>{{ reservation.phone }}</td>
                        <td>{{ reservation.city }}</td>
                        <td>{{ reservation.state }}</td>
                        <td>{{ reservation.zip }}</td>
                        <td><input type="checkbox" {% if reservation.directSeller == 1 %}checked {% endif %} disabled>
                        </td>
                        <td><input type="checkbox" {% if reservation.needsTable == 1 %}checked {% endif %} disabled>
                        </td>
                        <td><input type="checkbox" {% if reservation.needsElectricity == 1 %}checked {% endif %}
                                   disabled></td>
                        <td>{{ reservation.itemsForsale }}</td>
                        <td>{% for index, table in tables %}
                                <option value={{ table.id }}>{{ table.description }}</option>
                            {% endfor %}</td>
                        <td>{{ reservation.tableAssignments }}</td>
                        <td>
                            <a href="#editBookingModal" class="edit" data-toggle="modal" data-row="{{ index }}">
                                <i class="fa fa-edit" data-toggle="tooltip" title="Edit"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

        </div>
    </div>
    <!-- Add Modal HTML -->
    <div id="addBookingModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="addBooking" method="POST" action="{{ path('addBooking') }}">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Booking</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Select Event</label>
                            <select name="event_selection" class="form-control" id="eventSelection">
                                {% for event in allEvents %}
                                    <option value="{{ event.id }}">{{ event.name }}</option>
                                {% endfor %}
                            </select>
                            <label>Name</label>
                            <input type="text" id="add_name" class="form-control" name="name" required>
                            <input type="hidden" id="add_event" name="event" value={{ eventId }}>
                        </div>
                        <div class="form-group">
                            <label>Approval Status</label>
                            <input type="checkbox" id="add_status" class="form-control" name="status" value="1">
                        </div>
                        <div class="form-group">
                            <label>Business Name</label>
                            <input type="text" id="add_businessName" class="form-control" name="businessName" required>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" id="add_email" class="form-control" name="email" required>
                        </div>
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="text" id="add_phone" class="form-control" name="phone" required>
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            <textarea class="form-control" id="event_address" required name="address"
                                      required></textarea>
                        </div>

                        <div class="form-group">
                            <label>City</label>
                            <input type="text" id="add_city" class="form-control" name="city" required>
                        </div>
                        <div class="form-group">
                            <label>State</label>
                            <input type="text" id="add_state" class="form-control" name="state" max="2" required>
                        </div>
                        <div class="form-group">
                            <label>Zip</label>
                            <input type="text" id="add_zip" class="form-control" name="zip" required>
                        </div>
                        <div class="form-group">
                            <label>Direct Seller</label>
                            <input type="checkbox" id="add_directSeller" class="form-control" name="directSeller">
                        </div>
                        <div class="form-group">
                            <label>Needs Table</label>
                            <input type="checkbox" id="add_needsTable" class="form-control" name="needsTable">
                        </div>
                        <div class="form-group">
                            <label>Needs Electric</label>
                            <input type="checkbox" id="add_needsElectricity" class="form-control"
                                   name="needsElectricity">
                        </div>
                        <div class="form-group">
                            <label>Items For Sale</label>
                            <input type="text" id="add_itemsForSale" class="form-control" name="itemsForSale" required>
                        </div>
                        <div class="form-group">
                            <label>Booth Quantity</label>
                            <input type="text" id="add_quantity" class="form-control" name="tableQuantity" required>
                        </div>
                        <div class="form-group">
                            <label>Table Number Assignments (Comma separated for multiple)</label>
                            <input type="text" id="add_tableAssignments" class="form-control" name="tableAssignments">
                        </div>
                        <div class="form-group">
                            <label>Table Area</label>
                            <select type="" id="add_tableId" class="form-control" name="tableId">
                                {% for index, table in tables %}
                                    <option value={{ table.id }}>{{ table.description }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="add_paymentMethod">Select a payment option:</label>
                            <select id="add_paymentMethod" class="form-control" name="paymentMethod">
                                <option value="none">Select a payment method</option>
                                <option value="CreditCard">Credit Card</option>
                                <option value="Check">Check</option>
                                <option value="Cash">Cash</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Check or Reference Number</label>
                            <input type="text" id="add_paymentNote" class="form-control" name="paymentNote">
                        </div>
                        <div class="form-group">
                            <label for="add_comments">Comments and Special Requests</label>
                            <textarea id="add_comments" class="form-control" name="comments"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-success">

                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Edit Modal HTML -->
    <div id="editBookingModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="editBooking" method="POST" action="{{ path('editBooking') }}">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Booking</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" id="name" class="form-control" name="name" required>
                            <input type="hidden" id="id" name="id">
                        </div>
                        <div class="form-group">
                            <label>Approval Status</label>
                            <input type="checkbox" id="status" class="form-control" name="status" value="1">
                        </div>
                        <div class="form-group">
                            <label>Business Name</label>
                            <input type="text" id="businessName" class="form-control" name="businessName" required>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" id="email" class="form-control" name="email" required>
                        </div>
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="text" id="phone" class="form-control" name="phone" required>
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            <textarea class="form-control" id="address" name="address" required></textarea>
                        </div>

                        <div class="form-group">
                            <label>City</label>
                            <input type="text" id="city" class="form-control" name="city" required>
                        </div>
                        <div class="form-group">
                            <label>State</label>
                            <input type="text" id="state" class="form-control" name="state" required>
                        </div>
                        <div class="form-group">
                            <label>Zip</label>
                            <input type="text" id="zip" class="form-control" name="zip" required>
                        </div>
                        <div class="form-group">
                            <label>Direct Seller</label>
                            <input type="checkbox" id="directSeller" class="form-control" name="directSeller">
                        </div>
                        <div class="form-group">
                            <label>Needs Table</label>
                            <input type="checkbox" id="needsTable" class="form-control" name="needsTable">
                        </div>
                        <div class="form-group">
                            <label>Needs Electric</label>
                            <input type="checkbox" id="needsElectricity" class="form-control" name="needsElectricity">
                        </div>
                        <div class="form-group">
                            <label>Items For Sale</label>
                            <input type="text" id="itemsForSale" class="form-control" name="itemsForSale" required>
                        </div>
                        <div class="form-group">
                            <label>Booth Quantity</label>
                            <input type="text" id="tableQuantity" class="form-control" name="tableQuantity" required>
                        </div>
                        <div class="form-group">
                            <label>Table Number Assignments (Comma separated for multiple)</label>
                            <input type="text" id="tableAssignments" class="form-control" name="tableAssignments"
                                   required>
                        </div>
                        <div class="form-group">
                            <label>Table Area</label>
                            <select type="" id="edit_tableId" class="form-control" name="tableId">
                                {% for index, table in tables %}
                                    <option value={{ table.id }}>{{ table.description }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="edit_paymentMethod">Select a payment option:</label>
                            <select id="paymentMethod" class="form-control" name="paymentMethod">
                                <option value="none">Select a payment method</option>
                                <option value="CreditCard">Credit Card</option>
                                <option value="Check">Check</option>
                                <option value="Cash">Cash</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Check or Reference Number</label>
                            <input type="text" id="paymentNote" class="form-control" name="paymentNote">
                        </div>
                        <div class="form-group">
                            <label for="comments">Comments and Special Requests</label>
                            <textarea id="comments" class="form-control" name="comments"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-success">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}


{% block javascripts %}
    {{ parent() }}

    <script>
      var reservations = {{ reservations|json_encode|raw }};
    </script>
    {{ encore_entry_script_tags("manageBookings") }}

{% endblock javascripts %}
