@import './bootstrap-datetimepicker-build.scss';

.adminContent {
  padding: 10rem 2rem;
  #selector {
    margin-bottom: 2rem;
  }
  .imageGroup {
    margin: 1rem 0;
  }
  fieldset {
    margin: 2rem 0;
  }
  .form-group {
    margin: 2rem 0;
  }
}

.formContent {
  width: 40rem;
  margin: 0 auto;
}

.datetimepicker label {
  display: block;
}