html,body {
  height: 100%;
}

$green: #28a745;
body {
  padding-top: 54px;
  background-color: #F1EFEE !important;
  padding-bottom: 0px;
}

.btn-success {
  color: #fff;
  background-color: $green;
  border: 2px solid $green;
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
  &:hover {
    background-color: $green;
    color: #fff;
  }
}

.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

//navbar 
.navbar {
  .nav-item {
    margin-left: 3rem;
  }
}

// carousel
.carousel-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  background: black;
  text-align: center;
  p {
    font-size: 20px;
    line-height: 1.4;
    padding-bottom: 1rem;
  }
}
.carousel-item {
  height: 55vh;
  min-height: 500px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center -100px;
}

.carousel-inner .item img[src$=".svg"] {
  width: 100%;
}

#qrCode {
  margin: 15px;
}

// cards
.card {
  transition: transform .2s ease, box-shadow .2s ease;
  &:hover {
    transform: scale(1.02);
    box-shadow: .2rem .75rem 1.2rem rgba(0,0,0,.4);
  }
}
.portfolio-item {
margin-bottom: 30px;
}

.card-image {
  width: 100%;
  height: 250px;
}

.card-title a {
  color: #353A40;
}

.portfolio-item img {
  width: 100%;
  max-height: 300px;
}

.alert {
  position: absolute;
  width: 50vw;
  left: 50%;
  margin-left: -25vw;
  text-align: center;
}




// media queries
@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
@media screen and (max-width: 767px) {
  .carousel-caption {
      display: none;
  }
}

