#tableSelect {
  margin-top: 2rem;
  width: 16.3rem;
}
#quantitySelect, #quantity {
  margin-top: 1rem;
  width: 12rem;
  display: inline-block;
}
#sendMessageButton {
  margin: 1rem 0 4rem;
  &:disabled {
    background-color: #a5a4a4;
  }
}
#joinButton {
  width: 6rem;
}