{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{parent()}}
  {{ encore_entry_link_tags("admin")}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
{% endblock %}


{% block body %}
  <div class="adminContent">
    <div class="container">
      <div class="formContent">
        <select id="selector">
        <option selected disabled>Choose an item to manage:</option>
        <option value="about">About Page</option>
        <option value="globalInfo">Company Info</option>
        <option value="contact">Contact Page</option>
        <option value="index">Home Page</option>
        <option value="event">Events</option>
        <option value="user">Users</option>
        <option value="report">Reports</option>
      </select>

        <section class="form" id="about" style="display: none;">
          <form method="post" action="{{ path('submit_about') }}">
            <div class="form-group">
              <label for="body_header">Enter Header Text</label>
              <input type="text" class="form-control" id="body_header" name="body_header" required data-validation-required-message="Please enter header text." value="{{ aboutPage.header }}">
            </div>

            <div class="form-group">
              <label for="body_text">Enter Body Text</label>
              <textarea class="form-control" id="body_text" name="body_text" rows="8" required data-validation-required-message="Please enter body text.">{{ aboutPage.body }}
              </textarea>
            </div>
            <input type="submit" name="submit_about" value="Submit" class="btn btn-success">
          </form>
        </section>

        <section class="form" id="contact" style="display: none;">
          <form method="post" action="{{ path('submit_contact') }}">
            <div class="form-group">
              <label for="contact_header">Enter Header Text</label>
              <input type="text" class="form-control" id="contact_header" name="contact_header" required data-validaton-required-message="Please enter a page header." value="{{ contactPage.header }}"/>
            </div>

            <div class="form-group">
              <label for="contact_subheader">Enter Sub Header Text</label>
              <input type="text" class="form-control" id="contact_subheader" name="contact_subheader" required data-validaton-required-message="Please enter a page header." value="{{ contactPage.subheader }}"/>
            </div>
            <input type="submit" name="submit_Contact" value="Submit" class="btn btn-success">
          </form>
        </section>

        <section class="form" id="globalInfo" style="display: none;">
          <form method="post" action="{{ path('submit_globals') }}">
            <div class="form-group">
              <label for="address1">Address1</label>
              <input type="text" class="form-control" id="address1" name="address1" required data-validaton-required-message="Please enter an address." value="{{ globalInfo.address1 }}"/>
            </div>
            <div class="form-group">
              <label for="address2">Address2</label>
              <input type="text" class="form-control" id="address2" name="address2" value="{{ globalInfo.address2 }}"/>
            </div>

            <div class="form-group">
              <label for="city">City</label>
              <input type="text" class="form-control" id="city" name="city" required data-validaton-required-message="Please enter a city." value="{{ globalInfo.city }}"/>
            </div>

            <div class="form-group">
              <label for="state">State</label>
              <input type="text" class="form-control" id="state" name="state" required data-validaton-required-message="Please enter a state." value="{{ globalInfo.state }}"/>
            </div>

            <div class="form-group">
              <label for="zip">Zip</label>
              <input type="text" class="form-control" id="zip" name="zip" required data-validaton-required-message="Please enter a zip." value="{{ globalInfo.zip }}"/>
            </div>

            <div class="form-group">
              <label for="phone">Phone</label>
              <input type="text" class="form-control" id="phone" name="phone" required data-validaton-required-message="Please enter a phone." value="{{ globalInfo.phone }}"/>
            </div>

            <div class="form-group">
              <label for="email">email</label>
              <input type="text" class="form-control" id="email" name="email" required data-validaton-required-message="Please enter an email." value="{{ globalInfo.email }}"/>
            </div>

            <div class="form-group">
              <label for="project">Site Name</label>
              <input type="text" class="form-control" id="project" name="project" required data-validaton-required-message="Please enter a Website Name." value="{{ globalInfo.projectName }}"/>
            </div>

            <input type="submit" name="submit_Contact" value="Submit" class="btn btn-success">
          </form>
        </section>

        <section class="form" id="index" style="display: none;">
          {% for image in bannerImages %}
            <form method="post" action="{{ path('submit_index') }}" enctype="multipart/form-data">
              <fieldset>
                <div class="form-group">
                  <label for="updateImageHeader">Image Header</label>
                  <input class="form-control" type="text" id="updateImageHeader" name="imageHeader" value="{{ image.header }}">
                </div>

                <div class="form-group">
                  <label for="updateImageSubHeader">Image SubHeader</label>
                  <input class="form-control" type="text" id="updateImageSubHeader" name="imageSubHeader" value="{{ image.subheader }}">
                </div>

                <div class="form-group">
                  <label for="updateImageSortOrder">Image SortOrder</label>
                  <input class="form-control" type="number" id="updateImageSortOrder" name="imageSortOrder" value="{{ image.sortOrder }}">
                </div>

                <div class="form-group">
                  <label for="updateImageFile">Update Image:</label>
                  <input class="form-control" type="file" id="updateImageFile" name="updateImageFile">
                  <div class="imageGroup">
                    Current image:
                    <img src="{{ asset(image.image) }}" height="100px"><br>
                  </div>
                  <input type="submit" value="remove" name="action" class="btn btn-danger">
                  <input type="submit" value="update" name="action" class="btn btn-info">
                  <input type="hidden" value="{{ image.id }}" name="imageId">
                </div>
              </fieldset>
            </form>
            <hr>
          {% endfor %}
          <form method="post" action="{{ path('submit_index') }}" enctype="multipart/form-data">
            <fieldset>
              <div class="form-group">
                <label for="addImageHeader">Image Header</label>
                <input class="form-control" type="text" id="addImageHeader" name="imageHeader">
              </div>

              <div class="form-group">
              <label for="addImageSubHeader">Image SubHeader</label>
              <input class="form-control" type="text" id="addImageSubHeader" name="imageSubHeader">
            </div>

            <div class="form-group">
              <label for="addImageSortOrder">Image SortOrder</label>
              <input class="form-control" type="number" id="addImageSortOrder" name="imageSortOrder">
            </div>

            <div class="form-group">
              <label for="addImageFile">Image File</label>
              <input class="form-control" type="file" id="addImageFile" name="addImageFile">
            </div>

            <input type="submit" value="add" name="action" class="btn btn-info">
          </fieldset>
        </form>
        <form method="post" action="{{ path('submit_about_card') }}" enctype="multipart/form-data">
          <fieldset>
            <div class="form-group">
              <label for="aboutCardHeader">About Card Header</label>
              <input class="form-control" type="text" id="aboutCardHeader" name="aboutCardHeader" value="{{ aboutCard.header }}">
            </div>

            <div class="form-group">
              <label for="aboutCardBody">About Card Body</label>
              <input class="form-control" type="text" id="aboutCardBody" name="aboutCardBody" value="{{ aboutCard.body }}">
            </div>

            <div class="form-group">
              <label for="aboutCardImage">About Card Image</label>
              <input class="form-control" type="file" id="aboutCardImage" name="aboutCardImage">
            </div>

            <input type="submit" value="update" name="action" class="btn btn-info">
          </fieldset>
        </form>

        </section>

      <section class="form" id="event" style="display: none;">
          {% for event in events %}
            <form method="post" action="{{ path('submit_events') }}" enctype="multipart/form-data">
                <fieldset>
                  <div class="form-group">
                    <label for="updateEventName">Event Name</label>
                    <input type="text" class="form-control" id="" name="eventName" value="{{ event.name }}">
                  </div>

                  <div class="form-group">
                    <label for="updateEventName">Allow Checks</label>
                    <input type="checkbox" class="form-control" name="allowChecks" value="1" {% if event.allowCheck == 1 %}checked{% endif %}>
                  </div>

                  <div class="form-group">
                    <label for="updateEventName">Application Filepath (only necessary if you allow checks above)</label>
                    <input type="file" class="form-control" name="applicationFile">
                  </div>


                  <div class="form-group">
                    <label for="updateEventDate">Event Date</label>
                    <div class="input-group date datetimepicker" id="datetimepicker{{ loop.index }}" data-target-input="nearest" data-toggle="datetimepicker" data-target="#datetimepicker{{ loop.index }}">

                        <input
                          type="text"
                          name="eventDate"
                          class="form-control datetimepicker-input"
                          data-target="#datetimepicker{{ loop.index }}"
                          data-toggle="datepicker"
                          value="{{event.datetime|date('Y-m-d H:i:s')}}"/>
                    </div>
                  </div>
                <div class="form-group">
                  <label for="updateEventDescription">Event Description</label>
                  <textarea class="form-control" id="updateEventDescription" name="eventDescription">{{ event.description }}</textarea>
                </div>

                <div class="form-group">
                  <label for="updateEventImageFile">Update Event Image:</label>
                  <input class="form-control" type="file" id="updateEventImageFile" name="eventImageFile">
                  <div class="imageGroup">
                    Image:
                    <img src="{{ asset(event.image) }}" height="100px"><br>
                  </div>
                  <input type="submit" value="duplicate" name="action" class="btn btn-primary">
                    <input type="submit" value="remove" name="action" class="btn btn-danger">
                    <input type="submit" value="update" name="action" class="btn btn-info">
                    <input type="hidden" value="{{ event.id }}" name="eventId">
                  </div>
                </fieldset>
              </form>

              <span class="formSectionHeader">Table Selection for
                {{ event.name }}</span><br>
              {% for table in event.tables %}
                <form method="post" action="{{ path('submit_tables') }}">
                  <fieldset>
                    <div class="form-group">
                      <label for="{{ event.id }}Table{{ table.id }}Description">Table Name</label>
                      <input class="form-control" value="{{ table.description }}" name="tableDescription" id="{{ event.id }}Table{{ table.id }}Description">
                    </div>

                    <div class="form-group">
                      <label for="{{ event.id }}Table{{ table.id }}Quantity">Max Quantity</label>
                      <input class="form-control" value="{{ table.quantity }}" name="tableQuantity" id="{{ event.id }}Table{{ table.id }}Quantity">
                    </div>

                    <div class="form-group">
                      <label for="{{ event.id }}Table{{ table.id }}Value">Price per: $</label>
                      <input class="form-control" value="{{ table.value }}" name="tablePrice" id="{{ event.id }}Table{{ table.id }}Value">
                    </div>

                    <div class="form-group">
                      <input type="submit" value="remove" name="action" class="btn btn-danger">
                      <input type="submit" value="update" name="action" class="btn btn-info">
                    </div>
                  </fieldset>
                  <input type="hidden" name="tableId" value="{{ table.id }}">
                  <input type="hidden" name="eventId" value="{{ event.id }}">
                </form>
              {% endfor %}
              <form method="post" action="{{ path('submit_tables') }}">
                <fieldset>
                  <div class="form-group">
                    <label for="addEvent{{ event.id }}TableDescription">Table Name</label>
                    <input class="form-control" name="tableDescription" id="addEvent{{ event.id }}TableDescription">
                  </div>

                  <div class="form-group">
                    <label for="addEvent{{ event.id }}TableQuantity">Max Quantity</label>
                    <input class="form-control" name="tableQuantity" id="addEvent{{ event.id }}TableQuantity">
                  </div>

                  <div class="form-group">
                    <label for="addEvent{{ event.id }}TableValue">Price per: $</label>
                    <input class="form-control" name="tablePrice" id="addEvent{{ event.id }}TableValue">
                  </div>

                  <div class="form-group">
                    <input type="submit" value="add" name="action" class="btn btn-info">
                  </div>
                </fieldset>
                <input type="hidden" name="eventId" value="{{ event.id }}">
              </form>
              <hr>
            {% endfor %}

            <form method="post" action="{{ path('submit_events') }}" enctype="multipart/form-data">
              <fieldset>
                <div class="form-group">
                  <label for="addEventName">Event Name</label>
                  <input type="text" class="form-control" id="addEventName" name="eventName">
                </div>
                <div class="form-group">
                  <label for="updateEventName">Allow Checks</label>
                  <input type="checkbox" class="form-control" name="allowChecks" value="1">
                </div>

                <div class="form-group">
                  <label for="updateEventName">Application Filepath (only necessary if you allow checks above)</label>
                  <input type="file" class="form-control" name="applicationFile">
                </div>

                <div class="form-group">
                    <label for="addEventDate">Event Date</label>
                    <div class="input-group date datetimepicker" id="eventdatetime" data-target-input="nearest">

                        <input
                          type="text"
                          name="eventDate"
                          id="addEventDate"
                          class="form-control datetimepicker-input"
                          data-target="#eventdatetime"/>
                        <div class="input-group-append" data-target="#eventdatetime" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                  </div>
                {# <div class="form-group">
                  <label for="addEventDate">Event Date</label>
                  <input type="text" class="form-control" id="addEventDate" name="eventDate">
                </div> #}

                <div class="form-group">
                  <label for="addEventDescription">Event Description</label>
                  <textarea class="form-control" id="addEventDescription" name="eventDescription"></textarea>
                </div>

                <div class="form-group">
                  <label for="addEventImageFile">Update Event Image:</label>
                  <input class="form-control" type="file" id="addEventImageFile" name="eventImageFile">
                </div>

                <div class="form-group">
                  <input type="submit" value="add" name="action" class="btn btn-info">
                </div>
              </fieldset>
            </form>

          </section>

      <section class="form" id="user" style="display: none;">
        {% for user in users %}
          <form method="post" action="{{ path('submit_user') }}">
          <fieldset>
            <div class="form-group">
              <label for="username">Username</label>
              <input class="form-control" type="text" id="username" name="username" value="{{ user.username }}">
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input class="form-control" type="text" id="email" name="email" value="{{ user.email }}">
            </div>

            <div class="form-group">
              <label for="userRole">Role</label>
              <select id="userRole" name="role">
                <option value="ROLE_ADMIN">Admin</option>
              </select>
            </div>

            <div class="form-group">
              <input type="submit" value="Remove" name="action" class="btn btn-danger">
              <input type="submit" value="Reset Password" name="action" class="btn btn-danger">
              <input type="submit" value="Update" name="action" class="btn btn-info">
              <input type="hidden" value="{{ user.id }}" name="userId">
            </div>
          </fieldset>
        </form>
        {% endfor %}
        <form method="post" action="{{ path('submit_user') }}">
          <fieldset>
            <div class="form-group">
              <label for="username">Username</label>
              <input class="form-control" type="text" id="username" name="username" value="">
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input class="form-control" type="text" id="email" name="email" value="">
            </div>

            <div class="form-group">
              <label for="userRole">Role</label>
              <select id="userRole" name="role">
                <option value="ROLE_ADMIN">Admin</option>
              </select>
            </div>

            <div class="form-group">
              <input type="submit" value="Add" name="action" class="btn btn-info">
            </div>
          </fieldset>
        </form>
      </section>

      <section class="form" id="report" style="display: none;">
        <form action="{{ path('submit_report') }}" method="post">
          <select name="event" id="reportEventSelect">
            {% for event in events %}
              <option value="{{ event.id }}">{{ event.name }}</option>
            {% endfor %}
          </select>
          <input type="submit" class="btn btn-info" value="Get Registrants" id="reportSubmit">
        </form>
      </section>

  </div>
    </div>
  </div>

{% endblock body %}

{% block javascripts %}
{{ parent() }}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>

  {{ encore_entry_script_tags("admin") }}
{% endblock %}
