<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" lang="English" />
    <title>Northrop Craft | Recieved Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<table border="1" width="100%">
    <tr>
        <td>
            <H3>Hello {{ emailName }},  Thank you for submitting your application to the Northrop Craft Bazaar!</H3><br/>

            <H3>THIS IS NOT A CONFIRMATION OF ACCEPTANCE.  This only confirms we have received your application.</H3>
            <p>A follow up email will be sent with more event details once we have confirmed your booth request.</p>

            <p>If you have any questions, please feel free to contact us at coordinator@northropcraft.com </p>
            <p> or visit us at our Northrop Craft Bazaar Facebook page. </p><br/>

            <H3>Please verify your booth information is correct below:</H3><br/>


            <P>Event: {{ event}}</P>
            <p>Business Name: {{ businessName }}</p>
            <p>Address: {{ businessAddress}}</p>
            <p>City: {{ businessCity}}</p>
            <p>State: {{ businessZip}}</p>
            <p>Zip: {{ businessPhone}}</p>
            <p>Need Electric? {{ needsElectric}}</p>
            <p>Need Table(s){{ needsTable}}</p>
            <p>Table Qty: {{ tableQuantity}}</p>

        </td>
    </tr>
</table>
</body>
</html>